@use "../../style/utils.scss";

.PageContainer {
  width: 90%;
  margin: 0 auto;
  padding-top: var(--navbar-height);
  position: relative;
  height: 95dvh;

  .HeaderContainer {
    text-align: center;
    margin: 2rem 0;
    .Header {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
      @include utils.viewport(3) {
        font-size: 1.7rem;
      }
    }
    .SubHeader {
      font-size: 1.2rem;
      color: #666;
      @include utils.viewport(3) {
        font-size: 1rem;
      }
    }
  }

  .ListControl {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    margin: 2rem 0;
    gap: 1rem;
    .Button {
      display: flex;
      align-items: center;
      gap: 1rem;
      background-color: none;
      border: 0.125rem solid black;
      padding: 0.5rem;
      border-radius: 0.25rem;
      cursor: pointer;
      @include utils.viewport(3) {
        gap: 0.5rem;
      }
      .Icon {
        width: 1.5rem;
        height: 1.5rem;
        color: black;
        @include utils.viewport(3) {
          width: 1.2rem;
          height: 1.2rem;
        }
      }
      .Label {
        font-size: 1rem;
        color: black;
        @include utils.viewport(3) {
          font-size: 1rem;
        }
      }
    }
  }

  .VideosContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .NoFavorites {
      text-align: center;
      font-size: 1.2rem;
      color: #666;
      margin-top: 2rem;
    }

    .VideoCard {
      border: 1px solid #ddd;
      border-radius: 0.25rem;
      overflow: hidden;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      background-color: none;
      display: flex;
      justify-content: space-between;
      width: 100%;
      &.Playing {
        background-color: black;
        .VideoWrapper {
          .Title {
            color: white;
          }
        }
        .Actions {
          .ActionButton {
            &.FavoriteButton {
              background: black;
            }
            .Icon {
              color: white;
            }
          }
        }
      }

      .VideoWrapper {
        display: flex;
        align-items: center;
        gap: 1rem;
        height: 100%;
        img {
          width: 7rem;
          height: 100%;
          object-fit: cover;
        }
        .Title {
          font-size: 1.1rem;
          font-weight: 600;
          color: #333;
          @include utils.viewport(3) {
            font-size: 0.85rem;
          }
        }
      }

      .Actions {
        display: flex;
        gap: 1rem;
        align-items: center;
        padding-right: 1rem;

        .ActionButton {
          display: flex;
          align-items: center;
          gap: 0.25rem;
          border: none;
          cursor: pointer;
          padding: 0.25rem;
          transition: color 0.3s;
          padding: 0.25rem 0.5rem;
          border-radius: 0.25rem;
          &.FavoriteButton {
            background: white;
          }

          .Icon {
            width: 1.5rem;
            height: 1.5rem;
            &.HeartActive {
              color: #ff0066;
            }
          }

          .Label {
            font-size: 0.875rem;
          }
        }
      }
    }
  }

  .ImportListingContainer {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    z-index: 1002;
    width: 50%;
    border-radius: 0.25rem;

    @include utils.viewport(2) {
      width: 95%;
    }

    .ImportListingBox {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      padding: 1rem;

      .CloseButton {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0.25rem;
        transition: color 0.3s;

        &:hover {
          color: #ff0066;
        }
        .Icon {
          color: white;
          width: 100%;
        }
      }

      .HeaderContainer {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;

        .Header {
          font-size: 1.3rem;
        }

        .SubHeader {
          font-size: 1rem;
          color: #ccc;
        }
      }

      .InputContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;

        input {
          width: 80%;
          background-color: transparent;
          border: 0.125rem solid white;
          outline: none;
          font-size: 1rem;
          color: white;
          padding: 0.25rem;
          border-radius: 0.25rem;
        }

        .SubmitButton {
          padding: 0.5rem 1rem;
          background-color: white;
          color: black;
          border: none;
          border-radius: 0.25rem;
          cursor: pointer;
          font-size: 1rem;
          transition:
            background-color 0.3s,
            color 0.3s;

          &:hover {
            background-color: #ddd;
          }
        }
      }

      .DecompressedContainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .Navigation {
          width: fit-content;
          display: flex;
          align-items: center;
          gap: 0.25rem;
          font-weight: bold;
          color: black;
          background-color: white;
          padding: 0.25rem 0.5rem;
          border-radius: 0.25rem;
        }

        .InfoContainer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 2rem;
          .Total {
            font-size: 1.2rem;
            color: white;
            font-weight: bold;
          }

          .AddAllButton {
            color: black;
            background-color: white;
            padding: 0.25rem 0.5rem;
            font-size: 1rem;
            border-radius: 0.25rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            cursor: pointer;
          }
        }

        .DecompressedList {
          width: 100%;
          max-height: 35rem;
          overflow-y: auto;

          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
          gap: 0.5rem;
          .Item {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 0.5rem;

            color: black;
            background-color: white;
            padding: 0.5rem;
            border-radius: 6px;

            img {
              width: 100%;
              height: 10rem;
              object-fit: cover;
            }

            .Heading {
              font-size: 0.9rem;
            }

            .Controls {
              display: flex;
              width: 100%;
              align-items: center;
              justify-content: space-around;

              .Button {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                justify-content: center;
                background-color: #ccc;
                padding: 0.25rem 0.5rem;
                border-radius: 0.25rem;
                cursor: pointer;
                .Icon {
                }
              }
            }
          }
        }
      }
    }
  }
}
