@use "../../style/utils.scss";
:root {
  --navbar-height: 100px;
}

.PageContainer {
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: var(--navbar-height);
  .NavContainer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    height: 100%;

    @include utils.viewport(2) {
      width: 95%;
      padding: 0.5rem 0;
    }

    @include utils.viewport(3) {
      width: 98%;
      padding: 1rem;
    }
    .NavLinks {
      display: flex;
      gap: 2rem;

      @include utils.viewport(3) {
        display: none;
      }
      .ActiveLink {
        border-bottom: 0.125rem solid white;
      }
      a {
        color: white;
        text-decoration: none;
        font-size: 1rem;
        transition: color 0.3s;

        &:hover {
          color: gray;
        }

        @include utils.viewport(2) {
          gap: 1.5rem;
        }

        @include utils.viewport(3) {
          font-size: 0.9rem;
          gap: 1rem;
        }
      }
    }

    .NavMobileIcon {
      display: none;
      font-size: 1.5rem;
      color: white;
      cursor: pointer;

      @include utils.viewport(3) {
        display: block;
      }
    }

    .NavMobileIcon {
      display: none;
      font-size: 1.5rem;
      color: white;
      cursor: pointer;

      @include utils.viewport(3) {
        display: block;
      }
    }
    .NavMobileLinksContainer {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      background-color: black;
      width: 100%;
      height: 100dvh;
      text-align: center;
      padding: 1rem 0;
      z-index: 1001;
      @include utils.viewport(3) {
        display: block;
      }
      .Icon {
        width: 2.5rem;
        height: 2.5rem;
        color: white;
        float: right;
        margin: 1rem;
        cursor: pointer;
      }
      .NavMobileLinks {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
        gap: 2rem;
        a {
          display: block;
          color: white;
          text-decoration: none;
          font-size: 2rem;
          padding: 0.5rem 0;
          transition: color 0.3s;

          &:hover {
            color: gray;
          }
        }
      }
    }
  }
}
